In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import statsmodels.api as sm

In [6]:
# low_memory=False is a hack to ignore dtype warning.
complete = pd.read_csv('data/training_data.csv', low_memory=False)
complete

,financial_active,net_payment_behaviour_tripd,promotion_flag,variable_rate_index,account_status_code,active_12_mths,bank_fico_buckets_20,charge_off_reason_code,mob,open_closed_flag,...,due_balance_2,due_balance_3,due_balance_4,due_balance_5,due_balance_6,due_balance_7,due_balance_8,snapshot,mth_code,industry
0,1.0,P,0,0,I 0-6,1.0,581-600,NaN,3,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201801,201807,B
1,0.0,P,0,0,I 0-6,1.0,721-740,NaN,159,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201801,201906,C
2,1.0,T,0,0,I 7-12,1.0,761+,NaN,22,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201801,201905,A
3,1.0,T,0,1,I 0-6,1.0,761+,NaN,16,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201801,201806,B
4,1.0,P,0,0,A,0.0,721-740,NaN,3,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201801,201902,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5758218,0.0,T,1,0,A,1.0,641-660,NaN,41,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201912,201912,A
5758219,1.0,I,1,0,A,1.0,701-720,NaN,47,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201912,201912,C
5758220,1.0,R,1,0,I 0-6,1.0,741-760,NaN,34,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201912,201912,B
5758221,0.0,T,1,0,Recovery,1.0,681-700,NaN,50,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201912,201912,B
5758222,0.0,I,1,1,A,0.0,761+,NaN,62,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201912,201912,B

In [5]:
# Show the columns in the dataframe.
with pd.option_context('display.max_rows', None):
    print(complete.dtypes)

financial_active                 float64
net_payment_behaviour_tripd       object
promotion_flag                     int64
variable_rate_index                int64
account_status_code               object
active_12_mths                   float64
bank_fico_buckets_20              object
charge_off_reason_code           float64
mob                                int64
open_closed_flag                 float64
ever_delinquent_flg              float64
nbr_mths_due                     float64
variable_rate_margin             float64
stmt_balance                     float64
prev_balance                     float64
net_sales                        float64
net_payments                     float64
purchase_active                  float64
credit_limit_amt                 float64
credit_limit_pa                  float64
closed                             int64
active                             int64
charge_off                         int64
charge_off_aged                    int64
charge_off_bk                      int64
principal_amt                    float64
principal_amt_chrg_off           float64
total_writeoff_amt               float64
fee_chg_off_reversal_amt         float64
net_finance_charge               float64
non_principal_amount_gross       float64
non_principal_amount_net         float64
non_principal_amount_stmt        float64
aged_writeoff_amt                float64
bankruptcy_writeoff_amt          float64
fc_reversals                     float64
fee_reversals                    float64
fraud_writeoff_amt               float64
other_writeoff_amt               float64
promo_bal_amt                    float64
recovery_amt                     float64
writeoff_type_bko                  int64
writeoff_type_fraud_kiting         int64
writeoff_type_fraud_synthetic      int64
writeoff_type_deceased             int64
writeoff_type_other                int64
writeoff_type_aged                 int64
writeoff_type_settlement           int64
writeoff_type_fraud_other          int64
writeoff_type_repo                 int64
writeoff_type_null                 int64
writeoff_date                     object
due_account_2                    float64
due_account_3                    float64
due_account_4                    float64
due_account_5                    float64
due_account_6                    float64
due_account_7                    float64
due_account_8                    float64
due_balance_2                    float64
due_balance_3                    float64
due_balance_4                    float64
due_balance_5                    float64
due_balance_6                    float64
due_balance_7                    float64
due_balance_8                    float64
snapshot                           int64
mth_code                           int64
industry                          object
dtype: object

In [8]:
train, test = train_test_split(complete, test_size=0.1)
train.shape[0], test.shape[0]

(5182400, 575823)

In [ ]:
def normalize(X):
    return (X - X.mean()) / X.std()